*{
 margin: 0;
 padding: 0 ;
}

body{
	background-color: #ffffff;
	font-size: 29px;
	margin:0 auto;
}

header{
	width:1920px;
	height: 466px;
	border:1px  solid ;
	background-image: url(../img/100zn2.jpg);
	background-repeat: no-repeat;	
	background-size: cover;
	margin:0 auto;	
}

.main {
	width: 1700px;
	height: 800px;
	border: 1px solid #000000 ;
	margin:0 auto;
}

nav,span,a {	
	padding: 28px; 
	font-weight:200px;
	background:#ca0000;
    color: #000000;
	text-align: center;
	text-decoration: none;
}

left{
	width: auto;
	height: auto;
	border: 1px solid #000000 ;
	float: left;
	text-align: center;
	text-align: left;
}
right{
	width: 810px;
	height: auto;
	border: 1px solid #000000 ;
	float: right;
	text-align: center;
	text-align: left;
	line-height: 57px;
}


.jiange{
	width:1200px ;
	height: 150px;
	border: 1px solid #000000;
	margin:0 auto;
}
.grid-container {
  display: grid;
  grid-template-columns: 400px 400px 400px 400px;
  justify-content: center;
  grid-gap: 33px;
  background-color: #ffffff;
  padding: 50px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.tfoot,p1{
    width: 1920px;
	height: 100px;
	background-color: #d60f15;
	margin: 0 auto;
	color: #ffffff;
	text-align: center;
}

